@page
@model WebApp_RazorPages.Pages.AccountModel
@{
    ViewData["Title"] = "Account";
}

<section class="account-details">
    <div class="container">
        <div class="left-profile">
            <div class="profile-image">
                <div class="block">
                    <img src="/Icons/profile-icon.png" alt="" id="profile">
                    <img src="/Icons/bx-refresh.svg" alt="" id="refresh">
                </div>

            </div>

            <div class="namespace">
                <h5>John Doe</h5>
                <p>john.doe@domain.com</p>
            </div>
            <div>
                <button class="purple-btn">
                    <img src="/Icons/bx-cog.svg" alt="">
                    Account-details
                </button>
            </div>
            <div>
                <button class="purple-btn">
                    <img src="/Icons/bx-lock-alt.svg" alt="">
                    Account-details
                </button>
            </div>
            <div>
                <button class="purple-btn">
                    <img src="/Icons/bookmark.svg" alt="">
                    Account-details
                </button>
            </div>
            <div>
                <button class="purple-btn">
                    <img src="/Icons/bx-log-out.svg" alt="">
                    Account-details
                </button>
            </div>
        </div>

        <div class="right-profile">
            <form method="post" novalidate>
                <div>
                    <h1>Account Details</h1>
                </div>
                <div>
                    <h4>Basic info</h4>
                </div>

                <div class="content">
                    <div id="form-firstname" class="input-group">
                        <label asp-for="@Model.Form.FirstName"></label>
                        <span asp-validation-for="@Model.Form.FirstName"></span>
                        <input asp-for="@Model.Form.FirstName">
                    </div>
                    <div id="form-lastName" class="input-group">
                        <label asp-for="@Model.Form.LastName"></label>
                        <span asp-validation-for="@Model.Form.LastName"></span>
                        <input asp-for="@Model.Form.LastName">
                    </div>
                    <div id="form-email" class="input-group">
                        <label asp-for="@Model.Form.Email"></label>
                        <span asp-validation-for="@Model.Form.Email"></span>
                        <input asp-for="@Model.Form.Email">
                    </div>
                    <div id="form-Phone" class="input-group">
                        <label asp-for="@Model.Form.Phone"></label>
                        <span asp-validation-for="@Model.Form.Phone"></span>
                        <input asp-for="@Model.Form.Phone">
                    </div>
                    <div id="form-Biography" class="input-group">
                        <label asp-for="@Model.Form.Biography"></label>
                        <span asp-validation-for="@Model.Form.Biography"></span>
                        <input asp-for="@Model.Form.Biography">
                    </div>
                    <button id="form-button" class="btn-gray" type="reset">Cancel</button>
                    <button id="form-button" class="btn-theme-s" type="submit">Save changes</button>
                </div>
            </form>



            <form method="post" novalidate>
               
                <div>
                    <h4>Address</h4>
                </div>

                <div class="content">
                    <div id="form-Addressline_1" class="input-group">
                        <label asp-for="@Model.Acc.Addressline_1"></label>
                        <span asp-validation-for="@Model.Acc.Addressline_1"></span>
                        <input asp-for="@Model.Acc.Addressline_1">
                    </div>
                    <div id="form-Addressline_2" class="input-group">
                        <label asp-for="@Model.Acc.Addressline_2"></label>
                        <span asp-validation-for="@Model.Acc.Addressline_2"></span>
                        <input asp-for="@Model.Acc.Addressline_2">
                    </div>
                    <div id="form-PostalCode" class="input-group">
                        <label asp-for="@Model.Acc.PostalCode"></label>
                        <span asp-validation-for="@Model.Acc.PostalCode"></span>
                        <input asp-for="@Model.Acc.PostalCode">
                    </div>
                    <div id="form-City" class="input-group">
                        <label asp-for="@Model.Acc.City"></label>
                        <span asp-validation-for="@Model.Acc.City"></span>
                        <input asp-for="@Model.Acc.City">
                    </div>
                  
                    <button id="form-button" class="btn-gray" type="reset">Cancel</button>
                    <button id="form-button" class="btn-theme-s" type="submit">Save changes</button>
                </div>
            </form>

        </div>
    </div>
</section>